# Node modules
frontend/node_modules/

# Python virtual environment
venv/

# Python cache
__pycache__/

# Environment variables
.env

# Chroma DB or vector store files
chroma_db/
chroma_store/

# VSCode settings 
.vscode/
